body {
    width: 100%;
    height: 98vh;
}

#main_component {
    background-color: #0398c5;
    padding: 0;
}

#display_notes {
    background-color: rgba(0, 255, 242, 0.726);
    .note {
        background-color: green;
        margin: 5px 5px;
        overflow-wrap: break-all;
        word-break: break-all;
        width: 100%;
        // align-items: center;
    }
    .note-wrapper {
        margin: 0px;
        padding: 0px;
        display: flex;
    }
    .button-col {
        align-self: center;
    }
}

#input_component {
    textarea {
        resize: none;
    }
    border: solid;
    .add-note-button {
        margin-left: 5px;
        margin-right: 20%;
    }
    .button-col {
        padding-left: 5px;
        padding-right: 0;
        align-self: center;
    }
    .input-col {
        padding: 0;
    }
    .add-note-input {
        width: 100%;
        height: 100%;
    }
}

.note-button {
    margin: 2px 0px;
}